$rotatable-handle-height: 30px;
$handle-size: 10px;
$handle-border-active: 1px solid #08a1ef;
$handle-border: 1px solid #bbb;
$handle-background: #fff;

.rr-resizer {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border: $handle-border;
}

.rr-resizer.rr-resizer--active {
  border: $handle-border-active;
}

.rr-resizer--active .rr-rotatable-handle {
  display: block;
}

.rr-resizer--active .rr-resizable-handle {
  display: block;
}

.rr-resizer-content {
  width: 100%;
  height: 100%;
}

.rr-rotatable-handle {
  display: none;
  position: absolute;
  text-align: center;
  left: 50%;
  top: -$rotatable-handle-height;
  border: $handle-border-active;
  box-sizing: border-box;
  width: $handle-size;
  height: $handle-size;
  background: $handle-background;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: crosshair;
  z-index: 1;
}

.rr-rotatable-handle::after {
  content: "";
  position: absolute;
  border-left: $handle-border-active;
  width: 0;
  top: $handle-size - 2;
  transform: translate(-50%, 0);
  height: $rotatable-handle-height - $handle-size / 2;
}

.rr-resizable-handle {
  display: none;
  box-sizing: border-box;
  position: absolute;
  border: $handle-border-active;
  width: $handle-size;
  height: $handle-size;
  background: $handle-background;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.rr-resizable-n {
  cursor: n-resize;
  left: 50%;
  top: 0;
}

.rr-resizable-s {
  cursor: s-resize;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.rr-resizable-e {
  cursor: e-resize;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.rr-resizable-w {
  cursor: w-resize;
  left: 0;
  top: 50%;
}

.rr-resizable-nw {
  cursor: nw-resize;
  left: 0;
  top: 0;
}

.rr-resizable-ne {
  cursor: ne-resize;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}

.rr-resizable-se {
  cursor: se-resize;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.rr-resizable-sw {
  cursor: sw-resize;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
